
.container{
    background-color:#eee;
    width:250px;
    padding:50px;
    margin:100px auto;
    border-radius:15px;
}

img{
    margin-left:33px;
    margin-bottom:10px;
}

span{
    color:blue;
}

